.nav-wrap {
	position: fixed;
	display: flex;
	width: 100%;
	max-height: 100vh;
	padding: 0;
	color: #fff;
	background-color: var(--main-color);
	z-index: 100;
	top: 0;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	overflow: hidden;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	padding: 0.65rem 2rem 0;
}

.nav-logo {
	flex-basis: 20rem;
	width: 20rem;
	display: flex;
}

.top-logo {
	display: block;
	width: 10rem;
	aspect-ratio: 100 / 18;
	background-image: url(../images/logo_wh.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -9999px;
	margin-top: 0.45rem;
}

.nav-menu-list {
	display: inline-flex;
	gap: 1rem;
}

.nav-menu-list li {
	min-width: clamp(7rem, 10vw, 12rem);
}

.nav-menu-list button {
	font-size: 1rem;
	line-height: 2.7rem;
	font-weight: 500;
	color: inherit;
	text-align: left;
	pointer-events: none;
	padding: 0
}

.nav-menu-list li ul {
	padding-bottom: 3rem;
}

.nav-menu-list li ul li {
	margin-top: 0.5rem;
	font-size: 0.8rem;
	font-weight: 300;
}

.nav-menu-list li ul li a:hover {
	opacity: 0.5;
	text-decoration: none;
}

.nav-right {
	flex-basis: 20rem;
	width: 20rem;
	display: flex;
	justify-content: flex-end;
	gap: 0.8rem;
}

.nav-right-text {
	display: block;
	line-height: 1.5rem;
	font-size: 0.6rem;
	margin-top: 0.5rem;
	border: 0.5px solid #fff;
	padding: 0 0.8rem;
}

.nav-right a:hover {
	opacity: .8;
	text-decoration: none;
}

.max-h-basic {
	max-height: 4rem;
}

.max-h-100 {
	max-height: 100vh;
}

.black .nav-wrap {
	color: #000;
	border-bottom: 1px solid #000;
}

.black .nav-wrap .max-h-basic {
	max-height: 5.4rem;
}

.black .nav-wrap .nav-container {
	padding: 1.4rem 2rem 0rem;
}

.black .nav-menu-list li ul li {
	margin-top: 1.2rem;
}

.black .nav-wrap .nav-right-text {
	border-color: #000;
}

.black .nav-wrap .top-logo {
	background-image: url(../images/logo_blue.png);
}

.black .nav-menu-list li ul li a:hover {
	color: #999;
}

.hamburg {
	display: none;
}

.footer {
	margin-top: 10rem;
	padding: 3rem 0 2rem;
	border-top: 0.5px solid #6e6e6e;
}

.footer-wrap {
	max-width: 70rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.foot-logo {
	display: block;
	width: 10rem;
	aspect-ratio: 100 / 18;
	background-image: url(../images/logo_blue.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -9999px;
}

.footer-text {
	margin-top: 0.5rem;
	font-size: 0.9rem;
}

.footer-label {
	font-weight: 600;
	margin-right: 0.2rem;
}

.footer-value {
	font-weight: 300;
	margin-right: 0.6rem;
	letter-spacing: -0.02rem;
}

.footer-text p {
	font-weight: 300;
	letter-spacing: -0.02rem;
}

.footer-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 2rem;
}

.special-icon {
	display: block;
	width: 10rem;
	aspect-ratio: 845 / 273;
	background-image: url(../images/icon_80.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -9999px;
}

.footer-social {
	display: flex;
	justify-content: flex-end;
	gap: 0.5rem;
}

.social-icon {
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	background-image: url(../images/icon_yt.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -9999px;
}

.social-icon.facebook {
	background-image: url(../images/icon_fb.png);
}

.social-icon.blog {
	background-image: url(../images/icon_blog.png);
}

.social-icon.insta {
	background-image: url(../images/icon_insta.png);
}

.social-icon.kakao {
	background-image: url(../images/icon_kakao.png);
}


@media (max-width:768px) {
	.nav-wrap {
		padding: 1.5rem 1.5rem;
	}

	.nav-container.open {
		height: 100vh !important;
		max-height: 100vh !important;
		display: block;
	}

	.nav-menu,
	.nav-right {
		display: none;
	}

	.open .nav-menu {
		display: block;
		margin: 2rem 0.5rem;
	}

	.open .nav-menu-list {
		display: flex;
		flex-wrap: wrap;
	}

	.open .nav-menu-list li ul {
		padding-bottom: 1rem;
	}

	.open .nav-menu-list li ul li {
		margin-top: 0.5rem;
	}

	.open .nav-right {
		display: flex;
	}

	.hamburg {
		display: block;
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	.icon-hamburg {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 21px;
		height: 21px;
	}

	.open .icon-hamburg {
		justify-content: center;
	}

	.icon-hamburg span {
		display: block;
		width: 100%;
		height: 2px;
		background: rgb(255, 255, 255);
		transition: 0.3s;
	}

	.black .icon-hamburg span {
		background: rgb(0, 0, 0);
	}

	.open .icon-hamburg span:nth-child(1) {
		margin: -1px;
		transform: rotate(45deg);
	}

	.open .icon-hamburg span:nth-child(2) {
		display: none;
	}

	.open .icon-hamburg span:nth-child(3) {
		margin: -1px;
		transform: rotate(-45deg);
	}
}