:root {
    --main-color: #fff;
}

.content-depth {
    max-width: 70rem;
    margin: 7rem auto 1rem;
    text-align: right;
}

.content-depth span {
    font-size: 0.9rem;
}

span.depth-home {
    font-size: 1.1rem;
    font-weight: 600;
}

span.depth-mark {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.article-section {
    max-width: 70rem;
    margin: 0 auto 5rem;
    padding: 0 1rem;
}

.article-section.first {
    margin-bottom: 0;
}

.article-section h2 {
    font-family: sandoll-andante;
    font-weight: normal;
    font-size: clamp(3rem, 5vw, 4rem);
    line-height: 1.1;
    word-break: keep-all;
}

.article-section h3 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.article-section h3 b {
    font-weight: 600;
}

.article-section span {
    display: block;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 300;
}

.article-section h4 {
    width: 20vw;
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 0.5rem;
    font-weight: 600;
    letter-spacing: -.02rem;
}

.article-container {
    border-top: 0.3rem solid #000;
}

.article-text p {
    font-size: 1.25rem;
    line-height: 1.78;
    margin-bottom: 1.2rem;
    word-break: keep-all;
}

.article-text p.under {
    text-decoration: underline;
    text-decoration-thickness: 0.05rem;
    text-underline-offset: 0.3rem;

}

.article-image figcaption {
    word-break: keep-all;
}

.article-container.center .article-image {
    margin-bottom: 2rem;
}

.article-container.center .article-image figcaption {
    text-align: right;
}

.article-container.center .article-text {
    width: 60%;
    margin-left: 40%;
}

.article-container.dual {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.article-container.dual .article-image {
    flex: 0 0 25%;
    margin-top: 0.5rem;
}

.article-container.dual .article-text {
    flex: 0 0 60%;
}

.article-container.left {
    padding-top: 2rem;
}

.article-container.left .article-image {
    width: 55%;
    float: left;
    margin-bottom: 2rem;
}

.article-container.left .article-image figure+figure {
    margin-top: 0.5rem;
}

.article-container.left .article-text {
    width: 60%;
    float: right;
}

.article-container.left::after {
    content: "";
    display: block;
    clear: both;
}

.article-container.right {
    padding-top: 2rem;
}

.article-container.right .article-image {
    margin-bottom: 2rem;
}

.article-container.right .article-text {
    width: 60%;
    margin-left: 40%;
}

.article-qr {
    background-color: #F8F8F8;
    padding: 2rem 2rem 1rem;
}

.article-qr img {
    width: 30%;
    display: block;
}

.article-qr p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
}

.table-wrapper {
    padding: 1.8rem 1.5rem;
    background-color: #f8f8f8;
    /* 이미지처럼 연한 회색 배경 */
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.col-1 {
    width: 16%;
}

.col-2 {
    width: 15%;
}

.col-3 {
    width: 69%
}

/* 상단과 하단 가장자리 굵은 선 */
.history-table {
    border-top: 0.1rem solid #000;
    border-bottom: 0.05rem solid #000;
}

.history-table th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 0.1rem solid #000;
}

.history-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 0.05rem solid #000;
}

.history-table th {
    font-weight: bold;
    font-size: 1.1em;
}

.history-table td {
    font-size: 0.95em;
    color: #333;
    word-break: keep-all;
}

/* 마지막 행 선 제거 (표 바닥 선과 겹치지 않게) */
.history-table tbody tr:last-child td {
    border-bottom: none;
}

@media (max-width:768px) {
    .content-depth {
        margin: 5rem auto 1rem;
        text-align: right;
        padding-right: 1rem;
    }

    .article-title {
        margin-top: 2rem;
    }

    .article-section h3 {
        font-size: 1.8rem;
    }

    .article-section span {
        font-size: 1rem;
    }

    .article-image figcaption {
        line-height: 1.3;
        margin-top: 0.5rem;
    }

    .article-image figcaption br {
        display: none;
    }

    .article-container.center .article-image figcaption {
        text-align: left;
        margin-top: 0.5rem;
    }

    .article-text p {
        font-size: 1.1rem;
    }

    .article-container.center .article-text {
        width: 100%;
        margin-left: 0
    }

    .article-section h4 {
        width: auto;
        font-size: 1.5rem;
    }

    .article-section h4 br {
        display: none;
    }

    .article-container.dual,
    .article-container.left {
        padding-top: 0;
        display: block;
    }

    .article-container.dual .article-image {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .article-container.left .article-image {
        float: none;
        width: 100%;
    }

    .article-container.left .article-text {
        float: none;
        width: 100%;
    }

    .article-container.right .article-text {
        width: 100%;
        margin-left: 0;
    }

    .table-wrapper {
        padding: 0;
    }

    .col-1 {
        width: 25%;
    }

    .col-2 {
        width: 18%;
    }

    .col-3 {
        width: 57%
    }

}